
<!--
    **Web Technologies Assessment**
    # Name: ALWIN FRANCIS 
    # Student ID: 1153275
-->


<!DOCTYPE html>
<html>
    <!--Head Starts-->
    <head>
        <meta charset="UTF-8" />
        <title>Book Your Flight</title>
        <link rel="stylesheet" href="../css/home_style.css">   
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>

    </head>
     <!--Head Ends-->
    <!--Body Starts-->
    <body>
        <div class="container">
             <!--Navigation Starts-->
            <div class="navbar">
                <img src="../images/logo_blue.jpg"  class="logo" alt="Flight Book" onmouseover="this.src='../images/logo_orange.jpg'" onmouseout="this.src='../images/logo_blue.jpg'" />
                <nav class="navbar navbar-expand-sm justify-content-center" style="background-color:#3a5dff ;">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Arrival & Departure</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Book Your Trip</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Sign Up</a>
                      </li>
                    </ul>
                  </nav>
            </div>
             <!--Navigation Ends-->
            <br>
            <br>

             <!--Content Starts-->
            <div class="content">
                <h1> BOOK YOUR FLIGHT </h1>
                <p>Required values are marked by (*)</p>
                <!--Form Starts-->
                <form id="flightrequest" name="flightrequest" action="arrivalsdepartures.html"   method="get">
                    <!-- Flight Booking Request Fieldset Starts-->
                    <fieldset id="FlightBookingRequest">
                    <legend>Flight Details</legend>
                      
                    </fieldset>
                    <!-- Flight Booking Request Fieldset Ends-->
                    <br>
                    <br>
                    <!-- Passenger Details Fieldset Starts-->
                    <fieldset id="PassengerDetails">
                    <legend>Passenger Informations</legend>
                       
                    </fieldset>
                    <!-- Passenger Details Fieldset Ends-->
                </form>
                <!--Form Ends-->
                <br>
                <br>
            </div>
             <!--Content Ends-->
            <div class="footer">
                <footer>
                    <address>
                    CONTACT US:-
                    123 Cessna Lane &bull;
                    Tāhunanui &bull;
                    Nelson 7011 &bull;
                    fly@airwhakatu.co.nz &bull;
                    Phone Number:- 03 555 1234 
                    </address>
                </footer>
            </div>
        </div> 
    </body>
     <!--Body Ends-->
</html> 