
<!--
    **Web Technologies Assessment**
    # Name: ALWIN FRANCIS 
    # Student ID: 1153275
-->


<!DOCTYPE html>
<html>
    <!--Head Starts-->
    <head>
        <meta charset="UTF-8" />
        <title>Book Your Flight</title>
        <link rel="stylesheet" href="css/login_style.css">   
    </head>
     <!--Head Ends-->
    <!--Body Starts-->
    <body>
        <div class="container">
             <!--Navigation Starts-->
            <div class="navbar">
                <img src="images/logo_blue.jpg"  class="logo" alt="Flight Book" onmouseover="this.src='images/logo_orange.jpg'" onmouseout="this.src='images/logo_blue.jpg'" />
                <nav>
                    <ul>
                    <li><a href="arrivalsdepartures.html">Arrivals and Departures</a></li>
                    </ul>
                </nav>
            </div>
             <!--Navigation Ends-->
            <br>
            <br>

             <!--Content Starts-->
            <div class="content">
                <div class="wrapper">
                    <form class="form-signin">       
                      <h2 class="form-signin-heading">Please login</h2>
                      <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
                      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
                      <label class="checkbox">
                        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
                      </label>
                      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
                    </form>
                  </div>
            </div>
             <!--Content Ends-->
            <div class="footer">
                <footer>
                    <address>
                    CONTACT US:-
                    123 Cessna Lane &bull;
                    Tāhunanui &bull;
                    Nelson 7011 &bull;
                    fly@airwhakatu.co.nz &bull;
                    Phone Number:- 03 555 1234 
                    </address>
                </footer>
            </div>
        </div> 
    </body>
     <!--Body Ends-->
</html> 